 /* unvisited link */
 a:link {
    color: #7063a0;
  }
  
  /* visited link */
  a:visited {
    color: #1a046c;
  }
  
  /* mouse over link */
  a:hover {
    color: #5c2ffe;
  }
  
  /* selected link */
  a:active {
    color: #1a046c;
  }  

  .marginStyle {
    margin: 225px;
    margin-top: 50px;
  }

  .paragraphStyle {
    text-indent: 50px;
    margin-top: 20px;
  }

.picl {
  display: flex;
  width: 200px;
  height: 200px;
  float: left;
  margin: 15px;
  margin-left: 0px;
}

.picr {
  display: flex;
  width: 225px;
  height: 225px;
  float: right;
  margin: 15px;
  margin-right: 0px;

}