*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
  background-color: #1F3D69;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  gap: 2rem;
  padding: 0 1rem;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.site-title {
    font-size: 50px;
    background: -webkit-linear-gradient(#2E915F, #064525);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5px;
}


.navbar .links {
  margin-left: auto;
  border-radius: 6px;
}

.navbar a {
    color: inherit;
    margin-left: 16px;
    text-decoration: none;
    height: 100%;
    display: flex;
    padding: .25rem;
}

.navbar a:hover {
  color: #f1356d;
}

.navbarButtons {
  color: blue;
  background-color: greenyellow;
  border-radius: 6px;
}

